{% extends "base.html" %} {% block content %}

<div class="container">
    <div class="row justify-content-center">

    </div>
</div>

<div class="container form-container">
    <button type="button" class="btn btn-warning">Change The Theme</button>
    <h1 class="title"><strong>Halo, Apa Kabar?</strong></h1>
    <div class="form-input">
        <form method="POST">
            {% csrf_token %}

            <div class="form-group row">
                <!-- <label class="col-sm-2 col-form-label">{{comments_form.comment.label}}</label> -->
                <div class="col-sm-10 col-lg-12 form-comment">
                    {{comments_form.comment}}
                </div>
            </div>

            <button type="Submit" class="btn btn-success tombol">Buat</button>
        </form>
    </div>
</div>

<div class="container komentar-container">
    <div>
        {% for comment in comments %}

        <div class="comment">
            <h3>{{comment.comment}} </h3>

            <p><i>{{comment.created_at}}</i></p>

        </div>

        {% endfor %} {% endblock content %}
    </div>

</div>