{% extends "base.html" %} {% block content %}

<div class="container text-center middle">

    <div class="halo-container column">
        <div>
            <h1>Selamat Datang Kak {{user}} Keren</h1>
        </div>

        <div>
            <a href="/user/logout/"> <button type="button" class="btn btn-info btn-logout">Logout</button></a>
        </div>
    </div>
</div>
{% endblock content %}