{% extends "base.html" %} {% block content %}

<div class="container text-center middle">
    <h1>Anda yakin ingin logout?</h1>

    <form method="POST">
        {% csrf_token %}

        <input type="submit" name="logout" id="logout" class="btn btn-danger">
        <!-- <button type="submit" name="logout" id="logout" class="btn btn-danger">Logout</button> -->
        <a href="/user/home/"><button type="button" class="btn btn-success">Cancel</button></a>

    </form>
</div>

{% endblock content %}