{% extends "base.html" %} {% load static %} {% block content %}

<div class="container container-about">
    <div class="row col-lg-12 justify-content-between header-container">
        <h1>About Me</h1>
        <button type="button" class="btn btn-warning align-self-center" style="height: fit-content;">Change The Theme</button>
    </div>

    <div class="row">
        <div class="aboutme-container col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 align-content-center column">
            <img class="col align-items-center" src="{% static 'img/ganteng.png' %}" alt="my-foto-profile">
            <p>
                <strong>Hi</strong>, Im <strong>Ari</strong> . Extremely motivated to constantly develop my skills and grow in <strong>Software Engineering</strong> especially Backend and Android Development. Love to learn something new and learn from
                other people.

                <br>
                <br>

                <strong>I'm your future Software Engineer</strong>
            </p>
        </div>

        <div class="accordion-container col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="kotak kotak-satu">

                <a class="btn btn-block btn-lg btn-primary activity-button">Activity</a>
                <div class="content" id="content-satu">
                    <div class="activity-content column">
                        <h5>Study at Fasilkom UI</h5>
                    </div>
                    <div class="activity-content column">
                        <h5>Person in Charge of Liason Officer at MFC IMAMI UI</h5>
                    </div>
                    <div class="activity-content column">
                        <h5>Learn Flutter</h5>
                    </div>
                    <div class="activity-content column">
                        <h5>Learn Backend</h5>
                    </div>
                    <div class="activity-content column">
                        <h5>Learn Guitar</h5>
                    </div>
                </div>

            </div>

            <div class="kotak kotak-dua">

                <a class="btn btn-block btn-lg btn-primary organization-button">Organization Experiences</a>
                <div class="content" id="content-dua">
                    <div class="organization-content column">
                        <h5>RISTEK Fasilkom UI</h5>
                        <p><i>Web Development SIG</i> </p>
                        <p>Ristek Fasilkom UI is an independent organization operated by the students of Faculty of Computer Science Universitas Indonesia (Fasilkom UI) that is aimed to cultivate students’ interests in the fields of science and technology.</p>
                    </div>
                    <div class="organization-content column">
                        <h5>IMAMI UI</h5>
                        <p><i>Public Relations</i></p>
                        <p>IMAMI UI is an association of minang students who study at the University of Indonesia. IMAMI UI often holds activities such as MCF (Minang Culture Festival) and KGTK (Kampus Goes to Kampuang)</p>
                    </div>
                    <div class="organization-content column">
                        <h5>COMPFEST </h5>
                        <p><i>Software Engineering Academy</i></p>
                        <p>The Biggest and Leading One Stop IT Event Held by Students. Being a staff at Software Engineering Academy that held at GO-JEK Office for 6 days.</p>
                    </div>
                </div>

            </div>

            <div class="kotak kotak-tiga">

                <a class="btn btn-block btn-lg btn-primary achievement-button">Achievement</a>
                <div class="content" id="content-tiga">
                    <div class="achievement-content column">
                        <h5>Accepted at Fasilkom UI</h5>
                        <p>Fasilkom is the best faculty of Computer Science in Indonesia Fasilkom has produced many skillfull and competent graduates. They have start some start up, creating business, or be a part of Information Technology Employees in various
                            unicorn and other company in Indonesia and abroad</p>
                    </div>
                    <div class="achievement-content column">
                        <h5>1st Place at Lustrum FTI UNAND</h5>
                        <p>LUSTRUM FTI UNAND is a Technology Competition that held by Universitas Andalas. This competition is a problem solving competition for HighSchool Student in West Sumatera.</p>
                    </div>
                    <div class="achievement-content column">
                        <h5>1st Computer Olympiad at SMAPSIC</h5>
                        <p>SMAPSIC (Smansa Padang Science Competition) is a competition of science Olympiad like Math, Physic, Computer, Biologi and another field.</p>
                    </div>
                </div>
            </div>

            <div class="kotak kotak-empat">

                <a class="btn btn-block btn-lg btn-primary skill-button">Skill</a>
                <div class="content" id="content-empat">
                    <div class="skill-content column">
                        <h5>Python</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>
                    <div class="skill-content column">
                        <h5>Java</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                    </div>
                    <div class="skill-content column">
                        <h5>HTML, CSS, JS</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
                        </div>
                    </div>
                    <div class="skill-content column">
                        <h5>Django</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>
                    <div class="skill-content column">
                        <h5>Android Studio</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</div>

{% endblock content %}