{% load static %}

<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-transparent shadow-sm">
    <div class="container">
        <a href="/aboutme/" class="navbar-brand">
            <!-- Logo Image -->
            <img src="{% static 'img/skype.png' %}" width="45" alt="" class="d-inline-block align-middle mr-2">
            <!-- Logo Text -->
            <span class="text-santuy text-uppercase font-weight-bold" style="color: #00AFF0;">SANTUY</span>
        </a>

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/user/login/" class="nav-link" style="color: #00AFF0; font-weight: bold; ">LOGIN (STORY 9)</a></li>
                <li class="nav-item"><a href="/mybooks/" class="nav-link" style="color: #00AFF0; font-weight: bold; ">BOOKS (STORY 8)</a></li>
                <li class="nav-item"><a href="/aboutme/" class="nav-link" style="color: #00AFF0; font-weight: bold; ">ABOUT ME (STORY 7)</a></li>
                <li class="nav-item"><a href="/" class="nav-link" style="color: #00AFF0; font-weight: bold; ">COMMENT</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- /.container -->