{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script src="{% static "vendor/jquery/jquery.js" %}"></script> -->
<script src="{% static "vendor/popper/popper.js" %}"></script>
<script src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
<script src="{% static "js/index.js" %}"></script>