{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>

        SantuyParah

    </title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/skype.png' %}" />{% include "snippets/styles.html" %}

    <link href="https://fonts.googleapis.com/css?family=B612&display=swap" rel="stylesheet">
    
    <script src="{% static "js/index.js" %}"></script>
    <script src=""https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js""></script>
</head>

<body>

    {% include "snippets/navbar.html" %}
    <div class="body">
        {% block content %} {% endblock content %}
    </div>
    {% include "snippets/scripts.html" %}

</body>

</html>