.body {
    font-family: 'B612', sans-serif;
    color: #34495e;
}

.form-container {
    margin-top: 50px;
}

.form-container h1 {
    text-align: center;
}

.form-input {
    margin-top: 30px;
}

.komentar-container {
    margin-top: 40px;
}

.comment {
    margin-bottom: 50px;
}


/* STYLING FOR ABOUTME */

.kotak {
    margin-bottom: 30px;
    padding-left: 20px;
}

h4 {
    display: none;
}

.container-about h1 {
    margin-top: 30px;
    margin-bottom: 10px;
}

.aboutme-container img {
    max-width: 250px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
    margin-top: 20px;
}

.aboutme-container p {
    text-align: center;
}

.btn-primary {
    background-color: #00aff0 !important;
    border: none !important;
}

.content {
    display: none;
}

.accordion-container a {
    color: white !important;
}

.dark-theme {
    background-color: #34495e;
}

.p-dark-theme,
.h5-dark-theme,
.h1-dark-theme,
.h3-dark-theme,
.i-dark-theme {
    color: white;
}

.activity-content,
.organization-content,
.achievement-content,
.skill-content {
    padding: 10px;
}

.navbar-toggler {
    background-color: #00aff0 !important;
}

@media only screen and (max-width: 600px) {
    .aboutme-container img {
        margin-bottom: 30px;
    }
    .kotak-satu {
        margin-top: 30px;
    }
    .kotak {
        padding: 0 20px;
    }
    .container-about h1 {
        text-align: center;
    }
    .btn-warning {
        margin-top: 20px;
        margin-left: 10px;
    }
    .btn-comment {
        margin: 0;
    }
    .form-container {
        margin: 0;
    }
    .form-container h1 {
        margin-top: 30px;
    }
}


/* MYBOOKS STYLES */

.book-card {
    background-color: #ecf0f1;
    width: fit-content;
    border-radius: 10px;
    margin: 10px;
    width: 200px;
}

.cover-buku {
    width: 150px;
    margin: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.book-card p {
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
}

.my-books h3 {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-style: italic;
    color: black;
}

.my-books h6 {
    text-align: left;
    font-size: 25px;
    font-style: normal;
    color: #00aff0;
}

.btn-info {
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .container-buku {
        justify-content: center;
    }
    .book-card {
        width: 150px;
    }
    .cover-buku {
        width: 100px;
    }
    .my-books h3 {
        font-size: 20px;
    }
}


/* LOADING SCREEN */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8) url('/static/img/bulatbulat.gif') 50% 50% no-repeat;
}


/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

body.loading .modal {
    overflow: hidden;
}


/* Anytime the body has the loading class, our
   modal element will be visible */

body.loading .modal {
    display: block;
}

.maaf {
    color: #00aff0;
}


/* CSS FOR LOGIN APP  */


/* .form-login {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}    */

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    height: auto;
    border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.btn-facebook {
    color: white;
    background-color: #3b5998;
}


/* Fallback for Edge
  -------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}


/* Fallback for IE
  -------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

.username-box {
    padding: 0;
    margin: 0;
}

.halo-container {
    align-items: center;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}