{% extends "base.html" %} {% load static %} {% block content %}


<div class="container my-books">
    <h3>"Setiap tempat adalah sekolah Setiap orang adalah guru Setiap buku adalah ilmu"</h3>

    <h6 class="cari-buku-text">Cari Sebuah Buku</h6>

    <div class="active-cyan-3 active-cyan-4 mb-4">
        <input id="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
    </div>
    <button type="button" class="btn btn-info" id="button">Cari Buku</button>

    <div class="result row container-buku" id="results">

    </div>

</div>

<div class="modal">
    <!-- Place at bottom of page -->
</div>


{% endblock content %}